*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Open Sans', sans-serif;   
}
.carousel-item>img{
    height: 90vh;
    object-fit: cover;
}

.text-carousel{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    
}

.text-carousel-descripcion{
    font-size: larger;
}

.text-carousel>div{
    width: 43vw;
    bottom: 10rem;
    right: 6rem;
    
}

.card-text{
    font-size: small;
}

.banner{
    height: 60vh;
}

.banner-img{
    background-image: url('../img/honolulu.jpg');
    background-size: contain;
    background-attachment: fixed;
}

.formulario{
    height: 60vh;
}

.footer{
    background-color: #1d3947;
    height: 15vh;
}

.footer>ul>li{
    list-style: none;
    color: white;
    padding-left: 3rem;
    
}
.footer>ul>li>a{
    text-decoration: none;
    color: #efeeee;    
}

#oradores{
    height: 100vh;
    background-color: #efeeee;
}

.nav-item :hover{
    color: white !important;
}

.card:hover{
    bottom: 20px;
}