*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Open Sans', sans-serif;   
}
.carousel-item>img{
    height: 90vh;
    object-fit: cover;
}

.text-carousel{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    
}

.text-carousel-descripcion{
    font-size: larger;
}

.text-carousel>div{
    width: 43vw;
    bottom: 10rem;
    right: 6rem;
    
}

.card-text{
    font-size: small;
}


.banner-img{
    background-image: url('../img/honolulu.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.footer{
    background-color: #1d3947;
    height: 15vh;
}

.footer>ul>li{
    list-style: none;
    color: white;
    padding-left: 3rem;
    
}
.footer>ul>li>a{
    text-decoration: none;
    color: #efeeee;    
}

#oradores{
    background-color: #efeeee;
}

.nav-item :hover{
    color: white !important;
}

.card:hover{
    bottom: 20px;
}



.card-ticket{
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 30%;
    border: 2px solid ;
    cursor: pointer;
    text-align: center;
    justify-content: space-evenly;
}   

@media (max-width: 450px) {
    
    .text-carousel>div{
        width: 80vw;
        bottom: 10rem;
        right: 6rem;
        left: 0;
        right: 0;
        margin: auto;
        font-size: smaller;
        
    }

    #oradores{
        height: auto;
    }
    .card{
        margin-bottom: 2rem;
    }

    #lugaryfecha{
        flex-direction: column !important;
        height: auto;
    }

    #lugaryfecha>div{
        width: 100vw !important;
        text-align: center;
    }
    .banner-img{
        height: 40vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: revert;
    }
    #formulario{
        height: auto;
        padding: 1rem 0;
    }

    #formulario-form{
        width: 90vw !important;
    }

    .footer{
        height: auto;
    }
    .footer>ul{
        display: flex;
        flex-flow: column wrap !important;
        margin: 0 !important;
        padding: 0 !important;
        text-align: center;
    }
    .footer>ul>li{
        padding: 1rem  0;
    }
}